body {
    background-image: url("https://i.ibb.co/bRHDB94/4.png"), linear-gradient(to bottom, #B8E0D2 0%, #EAC4D5 59%, #809BCE 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.text h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 50px;
    font-family: 'Ostrich Sans Inline', sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 50px;
    text-shadow: 0px 0px 80px rgb(255, 0, 0);
    -webkit-text-stroke: 0,5px rgb(255, 255, 255);
    margin-top: 100px; 
    margin-left: 15px; 
    }

h1 span {
  background: -webkit-linear-gradient(60deg, #EF8354, #DF3B57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text h3 {
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 0px;
  font-family: 'Ostrich Sans Inline', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0,5px rgb(255, 255, 255);
  margin-top: 70px; 
  margin-left: 15px; 
  }

h3 span {
  background: -webkit-linear-gradient(60deg, #EF8354, #DF3B57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


iframe {
  min-height: 42vh;
  min-width: 70vh;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
    .show-on-desktop {
      display: none;
    }
  }
  
@media screen and (min-width: 481px) {
    .hide-on-desktop {
      display: none;
    }
  }

@media screen and (max-width: 600px) {
    .video-container {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }

@media screen and (max-width: 600px) {
    .text {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
}

.pc {
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 40px;
  font-family: 'Ostrich Sans Inline', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0,5px rgb(255, 255, 255);
    margin-top: 300px; 
}

.sito {
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 40px;
  font-family: 'Ostrich Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0,5px rgb(255, 255, 255);
    margin-top: 20; 
}

@media screen and (min-width: 600px) {
    .pc {
      visibility: visible;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }

@media screen and (min-width: 600px) {
  .video-container {
    visibility: visible;
  }
}

@media screen and (min-width: 600px) {
    .text {
      visibility: visible;
    }
  }

@media screen and (min-width: 600px) {
    .frame {
      visibility: visible;
    }
}

@media screen and (min-width: 600px) {
  .sito {
    visibility: visible;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}